<h1>Olá pessoal</h1>

<form (submit)="inserir()">
  <input type="text" [(ngModel)]="nome" name="nome" placeholder="Nome" required>
  <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required>
  <input type="text" [(ngModel)]="fone" name="fone" placeholder="Fone" required>
  <button type="submit">Salvar</button>
</form>


<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Fone</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contato of contatos">
      <td>{{contato.nome}}</td>
      <td>{{contato.email}}</td>
      <td>{{contato.fone}}</td>
      <td>
        <button (click)="editar(contato)">Editar</button>
        <button (click)="excluir(contato.id)">Excluir</button>
      </td>
    </tr>
   
  </tbody>
</table>